* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --dark: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
  --cyan: #56b6c2;
  --gray: #abb2bf;
}

h1,
h2 {
  color: chocolate;
  font-size: 2rem;
  text-align: center;
}

.container--dark {
  background-color: #1e293b;
  padding: 2rem;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid;
  padding: 3rem;
  min-height: 100vh;
}

.btn {
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: initial;
  padding: 1.2rem;
  font-size: 1.5rem;
}

.btn-purple {
  border: 2px solid purple;
  color: purple;
}

.btn-tomato {
  border: 2px solid tomato;
  color: tomato;
}

.btn-salmon {
  border: 2px solid salmon;
  color: salmon;
}

/* * rotating animation */

.btn-rotate {
  transition: color 1s;
  overflow: hidden;
}

.btn-rotate::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: -1;
  transition: transform 1s;
  background-color: purple;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-rotate:hover {
  color: white;
}

.btn-rotate:hover::before {
  transform: rotate(0);
}

/* * swipe animation */

.btn-swipe {
  transition: color 1s;
  overflow: hidden;
}

.btn-swipe::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transform-origin: bottom left;
  z-index: -1;
  transition: transform 500ms;
  background-color: tomato;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-swipe:hover::before {
  transform: translate(0);
}

.btn-swipe:hover {
  transition: color 500ms;
  color: white;
}

/* * two boxes animation */

.btn-two-boxes {
  transition: all 1s;
}

.btn-two-boxes:hover {
  background-color: salmon;
  color: white;
}

.btn-two-boxes::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  z-index: -1;
  transition: transform 1s;
  background-color: salmon;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-two-boxes:hover::before {
  transform: rotateX(0);
}

.btn-two-boxes::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  z-index: -1;
  transition: transform 1s;
  background-color: salmon;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-two-boxes:hover::after {
  transform: rotateY(0);
}

/* * stretching animation */

.btn-stretching {
  transition: all 500ms;
}

.btn-stretching:hover {
  font-weight: 700;
  letter-spacing: 10px;
}

/* * swipe top bottom  */

.btn-swipe-top-bottom {
  overflow: hidden;
}

.btn-swipe-top-bottom::before {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 500ms;
  background-color: tomato;
  width: 100%;
  height: 100%;
  content: "Yeah";
  color: white;
}

.btn-swipe-top-bottom:hover::before {
  transform: translateY(0);
}

/* * glowing effect  */

.btn-glowing {
  transition: background-color 200ms;
  border: 2px solid #fef2f2;
  overflow: hidden;
  color: #fef2f2;
}

.btn-glowing::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all 400ms;
  background-color: white;
  padding: 1.2rem;
  width: 100%;
  content: "";
}

.btn-glowing:hover {
  background-color: #b91c1c;
}

.btn-glowing:hover::before {
  transform: translateX(100%) rotate(45deg);
}

/* * two layers */
.btn-two-layers {
  border: 2px solid black;
  background-color: black;
  overflow: hidden;
  color: black;
}

.btn-two-layers::before,
.btn-two-layers::after {
  display: grid;
  position: absolute;
  place-items: center;
  transition: transform 300ms;
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.btn-two-layers::before {
  top: 0;
  left: 0;
  content: "Hover Me";
}

.btn-two-layers::after {
  top: 0;
  left: 0;
  transform: translate(-100%, 100%);
  content: "Hover Me";
}

.btn-two-layers:hover::before {
  transform: translate(100%, -100%);
}

.btn-two-layers:hover::after {
  transform: translate(0, 0);
}

/* * Text scaling */

.btn-scaling {
  position: relative;
  border-color: black;
  background-color: white;
  overflow: hidden;
  color: black;
}

.btn-scaling::before {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: scale(4);
  opacity: 0;
  transition: all 250ms;
  background-color: #2c2c2c;
  width: 100%;
  height: 100%;
  content: "Hover me";
  color: white;
}

.btn-scaling:hover::before {
  transform: scale(1);
  opacity: 1;
}

/* * Circular swapping */
.btn-swapping {
  position: relative;
  transition: all 250ms ease-in;
  border-color: orangered;
  overflow: hidden;
  color: orangered;
}

.btn-swapping::before {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: all 250ms ease-in;
  border-radius: 0 0 50% 50%;
  background-color: orangered;
  width: 100%;
  height: 0%;
  content: "";
  color: white;
}

.btn-swapping:hover {
  color: white;
}

.btn-swapping:hover::before {
  height: 190%;
}

/* * Rotating 3 layers */

.btn-3-layers {
  position: relative;
  background-color: orangered;
  color: white;
  letter-spacing: 2px;
}

.btn-3-layers::before,
.btn-3-layers::after {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 250ms;
  background-color: purple;
  width: 100%;
  height: 100%;
  content: "BUTTON";
}

.btn-3-layers:hover::before,
.btn-3-layers:hover::after {
  transform: rotateX(0deg);
}

.btn-3-layers::after {
  /* transform-origin: bottom; */
  transition-delay: 150ms;
  background-color: tomato;
}

/* * Layers swapping */

.btn-layers-swapping {
  position: relative;
  background-color: #282c34;
  color: transparent;
}

.btn-layers-swapping:before {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
  background-color: inherit;
  width: 100%;
  height: 100%;
  content: "Button";
  color: white;
}

.btn-layers-swapping:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.btn-layers-swapping:after {
  display: flex;
  position: absolute;
  top: 0;
  left: -100%;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
  transition: all 500ms;
  background-color: inherit;
  width: 100%;
  height: 100%;
  content: "Button";
  color: white;
}

.btn-layers-swapping:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

/* * 3 circles background effect */

.btn-3-circles-effect {
  --size: 20px;
  position: relative;
  transition: all 250ms;
  border-radius: 8px;
  padding: 1rem 3rem;
}

.btn-3-circles-effect:hover {
  transition-delay: 250ms;
  color: white;
}

.btn-3-circles-effect span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.btn-3-circles-effect:hover span {
  transition-delay: 250ms;
  background-color: #282c34;
}

.btn-3-circles-effect::before,
.btn-3-circles-effect::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  z-index: -1;
  transition: all 250ms;
  border-radius: 50%;
  background-color: #282c34;
  width: var(--size);
  height: var(--size);
  content: "";
}

.btn-3-circles-effect::before {
  left: 0;
  box-shadow: -100px 0 0 #282c34;
}

.btn-3-circles-effect::after {
  right: 0;
  box-shadow: 100px 0 0 #282c34;
}

.btn-3-circles-effect:hover::before {
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 30px 0 0 #282c34;
}

.btn-3-circles-effect:hover::after {
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 1;
  box-shadow: -30px 0 0 #282c34;
}

/* * Creative hover effect */

.btn-creative-hover-effect {
  position: relative;
  transition: all 250ms;
  color: white;
}

.btn-creative-hover-effect::before,
.btn-creative-hover-effect::after {
  position: absolute;
  z-index: -1;
  transition: all 250ms;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-creative-hover-effect::before {
  top: -3px;
  left: -3px;
  background-color: #e5c07b;
}

.btn-creative-hover-effect:hover {
  color: #282c34;
}

.btn-creative-hover-effect:hover::before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
  transform-origin: top;
}

.btn-creative-hover-effect:hover::after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
  transform-origin: bottom;
}

.btn-creative-hover-effect::after {
  top: 3px;
  left: 3px;
  mix-blend-mode: multiply;
  background-color: #61afef;
}

/* * Splited button effect */

.btn-splited-effect {
  position: relative;
  border: 2px solid #e5c07b;
  overflow: hidden;
}

.btn-splited-effect::before,
.btn-splited-effect::after,
.btn-splited-effect span::before,
.btn-splited-effect span::after {
  position: absolute;
  z-index: -1;
  transition: all 250ms;
  background-color: #e5c07b;
  width: 25%;
  height: 100%;
  content: "";
}

.btn-splited-effect::before {
  top: 0;
  left: -25%;
}

.btn-splited-effect::after {
  top: -100%;
  left: 25%;
}

.btn-splited-effect:hover::before {
  left: 0;
}

.btn-splited-effect:hover::after {
  top: 0;
  transition-delay: 50ms;
}

.btn-splited-effect span::before {
  top: 100%;
  left: 50%;
}

.btn-splited-effect:hover span::before {
  top: 0;
  transition-delay: 100ms;
}

.btn-splited-effect span::after {
  top: 0;
  left: 100%;
}

.btn-splited-effect:hover span::after {
  top: 0;
  left: 75%;
  transition-delay: 150ms;
}

.btn-splited-effect:hover span {
  color: white;
}

/* * Border swapping button effect */

.btn-border-swapping-effect {
  position: relative;
}

.btn-border-swapping-effect::before,
.btn-border-swapping-effect::after {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms;
  content: "";
}

.btn-border-swapping-effect::before {
  left: -20px;
  border-top: 2px solid #e06c75;
  border-bottom: 2px solid #98c379;
  width: calc(100% + 40px);
  height: 100%;
}

.btn-border-swapping-effect::after {
  top: -20px;
  border-right: 2px solid #98c379;
  border-left: 2px solid #e06c75;
  width: 100%;
  height: calc(100% + 40px);
}

.btn-border-swapping-effect:hover::before {
  transform: rotateX(180deg);
}

.btn-border-swapping-effect:hover::after {
  transform: rotateY(180deg);
  transition-delay: 250ms;
}

/* * Border growing button effect */

.btn-border-growing-effect {
  position: relative;
  border: 1px solid var(--yellow);
}

.btn-border-growing-effect::before,
.btn-border-growing-effect::after {
  position: absolute;
  transition: all 250ms;
  width: 25%;
  height: 50%;
  content: "";
}

.btn-border-growing-effect::before {
  top: -5px;
  left: -5px;
  border-top: 2px solid var(--yellow);
  border-left: 2px solid var(--yellow);
}

.btn-border-growing-effect::after {
  right: -5px;
  bottom: -5px;
  border-right: 2px solid var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.btn-border-growing-effect:hover::before,
.btn-border-growing-effect:hover::after {
  width: 100%;
  height: 100%;
}

/* * First letter rotate effect */

.btn-letter-rotate-effect {
  position: relative;
  border: 2px solid var(--green);
}

.btn-letter-rotate-effect:hover {
  color: var(--gray);
}

.btn-letter-rotate-effect span {
  position: relative;
  color: transparent;
}

.btn-letter-rotate-effect span::before {
  position: absolute;
  transition: all 250ms;
  content: "H";
  color: var(--dark);
}

.btn-letter-rotate-effect:hover span::before {
  transform: rotate(360deg) translate(-30%, -20%);
  color: var(--gray);
  font-size: 2rem;
}

.btn-letter-rotate-effect::before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 250ms;
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  content: "";
}

.btn-letter-rotate-effect:hover::before {
  transform: rotate(15deg);
  opacity: 1;
}

/* * 4 borders growing button effect */
.btn-4-borders-growing {
  overflow: hidden;
}

.btn-4-borders-growing::before,
.btn-4-borders-growing::after {
  position: absolute;
  transition: all 250ms;
  width: 100%;
  height: 4px;
  content: "";
}

.btn-4-borders-growing::before {
  top: 0;
  left: -100%;
  background-color: var(--green);
}

.btn-4-borders-growing:hover::before {
  left: 0;
}

.btn-4-borders-growing::after {
  bottom: 0;
  left: 100%;
  background-color: var(--green);
}

.btn-4-borders-growing:hover::after {
  left: 0;
}

.btn-4-borders-growing span::before,
.btn-4-borders-growing span::after {
  position: absolute;
  transition: all 250ms;
  background-color: var(--blue);
  width: 4px;
  height: 100%;
  content: "";
}

.btn-4-borders-growing span::before {
  top: -100%;
  left: 0;
}

.btn-4-borders-growing:hover span::before {
  top: 0;
}

.btn-4-borders-growing span::after {
  right: 0;
  bottom: -100%;
}

.btn-4-borders-growing:hover span::after {
  bottom: 0;
}

/* * 2 cuts buttons effects */

.btn-2-cuts-buttons-effect {
  overflow: hidden;
}

.btn-2-cuts-buttons-effect:hover {
  color: white;
}

.btn-2-cuts-buttons-effect span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 2px solid var(--dark);
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.btn-2-cuts-buttons-effect span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  z-index: -1;
  transition: all 250ms;
  background-color: white;
  width: 1rem;
  height: 300%;
  content: "";
}

.btn-2-cuts-buttons-effect:hover span::before {
  transform: translate(-50%, -50%) rotate(60deg);
  background-color: var(--dark);
  width: 100%;
}

/* * 2 parts skewed effect */

.btn-2-parts-skewd-effect {
  color: white;
}

.btn-2-parts-skewd-effect::before,
.btn-2-parts-skewd-effect::after {
  position: absolute;
  top: 0;
  transform: skew(20deg);
  z-index: -1;
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50%;
  height: 100%;
  content: "";
}

.btn-2-parts-skewd-effect::before {
  left: -2px;
  background-color: var(--purple);
}

.btn-2-parts-skewd-effect::after {
  top: 4px;
  left: calc(50% - 2px);
  background-color: var(--blue);
}

.btn-2-parts-skewd-effect:hover::before {
  top: 0;
  left: calc(50% - 2px);
  transform: skew(0deg);
}

.btn-2-parts-skewd-effect:hover::after {
  top: 0;
  left: 0;
  transform: skew(0deg);
}
