* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  color: chocolate;
  font-size: 2rem;
  text-align: center;
}

.container--dark {
  background-color: #1e293b;
  padding: 2rem;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid;
  padding: 3rem;
  min-height: 100vh;
}

.btn {
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: initial;
  padding: 1.2rem;
  font-size: 1.5rem;
}

.btn-purple {
  border: 2px solid purple;
  color: purple;
}

.btn-tomato {
  border: 2px solid tomato;
  color: tomato;
}

.btn-salmon {
  border: 2px solid salmon;
  color: salmon;
}

/* * rotating animation */

.btn-rotate {
  transition: color 1s;
  overflow: hidden;
}

.btn-rotate::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: -1;
  transition: transform 1s;
  background-color: purple;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-rotate:hover {
  color: white;
}

.btn-rotate:hover::before {
  transform: rotate(0);
}

/* * swipe animation */

.btn-swipe {
  transition: color 1s;
  overflow: hidden;
}

.btn-swipe::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transform-origin: bottom left;
  z-index: -1;
  transition: transform 500ms;
  background-color: tomato;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-swipe:hover::before {
  transform: translate(0);
}

.btn-swipe:hover {
  transition: color 500ms;
  color: white;
}

/* * two boxes animation */

.btn-two-boxes {
  transition: all 1s;
}

.btn-two-boxes:hover {
  background-color: salmon;
  color: white;
}

.btn-two-boxes::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  z-index: -1;
  transition: transform 1s;
  background-color: salmon;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-two-boxes:hover::before {
  transform: rotateX(0);
}

.btn-two-boxes::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  z-index: -1;
  transition: transform 1s;
  background-color: salmon;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-two-boxes:hover::after {
  transform: rotateY(0);
}

/* * stretching animation */

.btn-stretching {
  transition: all 500ms;
}

.btn-stretching:hover {
  font-weight: 700;
  letter-spacing: 10px;
}

/* * swipe top bottom  */

.btn-swipe-top-bottom {
  overflow: hidden;
}

.btn-swipe-top-bottom::before {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 500ms;
  background-color: tomato;
  width: 100%;
  height: 100%;
  content: "Yeah";
  color: white;
}

.btn-swipe-top-bottom:hover::before {
  transform: translateY(0);
}

/* * glowing effect  */

.btn-glowing {
  transition: background-color 200ms;
  border: 2px solid #fef2f2;
  overflow: hidden;
  color: #fef2f2;
}

.btn-glowing::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all 400ms;
  background-color: white;
  padding: 1.2rem;
  width: 100%;
  content: "";
}

.btn-glowing:hover {
  background-color: #b91c1c;
}

.btn-glowing:hover::before {
  transform: translateX(100%) rotate(45deg);
}

/* * two layers */
.btn-two-layers {
  border: 2px solid black;
  background-color: black;
  overflow: hidden;
  color: black;
}

.btn-two-layers::before,
.btn-two-layers::after {
  display: grid;
  position: absolute;
  place-items: center;
  transition: transform 300ms;
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.btn-two-layers::before {
  top: 0;
  left: 0;
  content: "Hover Me";
}

.btn-two-layers::after {
  top: 0;
  left: 0;
  transform: translate(-100%, 100%);
  content: "Hover Me";
}

.btn-two-layers:hover::before {
  transform: translate(100%, -100%);
}

.btn-two-layers:hover::after {
  transform: translate(0, 0);
}
